.mainDiv{
    margin-left: 50%;
    margin-right: 50%;
}
.stick {
    background-color: black;
    width: 10px;
    height: 80px;
}
.trafficLgt{
    background-color: black;
    width: 80px;
    height: 200px;
    margin-left: -35px;
    border-radius: 10px;
    padding: 10px;
}
.trafficLight{
    background-color: black;
    width: 80px;
    height: 260px;
    margin-left: -35px;
    border-radius: 10px;
    padding: 10px;
}
.red{
    background-color: #AA0000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    
}
.yellow{
    background-color: #F28C28;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    
}
.green{
    background-color: green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}
.selected{
    box-shadow: 0px 0px 40px 30px #F0E68C;
}
.btn{
    margin-top: 30px;
    background-color: #ACE1AF;
    border: none;
    width: 140px;
    box-shadow: rgba(9, 201, 25, 0.418) 3px 3px 8px 0px;
    margin-left: -65px;
}
.btn:hover{
    background-color: #71BC78;
}
.secondBtn{
    margin-top: 30px;
    background-color: #D8BFD8;
    border: none;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    box-shadow: rgba(160, 28, 172, 0.418) 3px 3px 8px 0px;
    margin-left: -65px;
}
.secondBtn:hover{
    background-color: 	#ca74ca;
}
.purple{
    background-color: purple;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}